{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/simple-navbar.css' %}">
<style>

.navbar{
  background-image:url("{% static 'img/image1.jpeg'%}");
}
</style>
{% endblock css %}

{% block content %}
{% for i in data %}
    <div class="card" style="width: 18rem;">
  <img src="{{ i.dis_image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ i.dis_name }}</h5>
    <p class="card-text">{{ i.dis_symptoms }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endfor %}

{% endblock %}
